access_log  /dev/stdout  main;
error_log  /dev/stderr  debug;

server {

    listen       9000;
    listen       unix:/app/var/run/nginx/default.localhost.sock;
    server_name  default.localhost;

    index index.php;

    root /usr/share/nginx/html;

    location = /nginx_status {
        access_log off;
        allow 127.0.0.1;
        allow all;
        deny all;
        stub_status;
    }

    location ~ ^/(status|ping)$ {
        access_log off;
        allow 127.0.0.1;
        allow all;
        deny all;

        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

        fastcgi_pass unix:/app/var/run/php-fpm/php-fpm.sock;
    }

    location ~ \.php$ {
        access_log off;

        try_files $fastcgi_script_name =404;

        fastcgi_split_path_info ^(.+\.php)(/.+)$;

        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;

        include        fastcgi_params;

        fastcgi_pass unix:/app/var/run/php-fpm/php-fpm.sock;
    }

}
